<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anomaly Detection Server</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1>Anomaly Detection Server</h1>
<form action="/detect" method="post" enctype="multipart/form-data" name="detectForm" target="result">
    <div align="center">
        <label for="detection_algorithms"/>
        <select id="detection_algorithms" name="detection_algorithms">
            <option value="" disabled selected>Choose a detection algorithm</option>
            <option value="regression">Regression algorithm</option>
            <option value="hybrid">Hybrid algorithm</option>
        </select>
    </div>
    <br>
    <div align="center">
        <input type="file" name="proper_file" id="proper_file" class="inputfile" />
        <label for="proper_file">Upload a proper file</label>
        <input type="file" name="detect_file" id="detect_file" class="inputfile" />
        <label for="detect_file">Upload a detect file</label>
    </div>
    <br>
    <div align="center">
        <input type="submit" value="detect!" class="submitfile">
    </div>

<!--
    <table>
        <tr>
            <td><input type="file" name="proper_file"></td>
            <td>proper file</td>
        </tr>
        <tr>
            <td><input type="file" name="detect_file"></td>
            <td>detect file</td>
        </tr>
        <br>
    </table>
-->
<!--    <input type="submit" value="upload!">-->
</form>
<br>
<iframe name="result" width="100%" height="500"></iframe>
</body>
</html>